# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Project-specific
rit/

# Pytest
.pytest_cache/

# Environment variables
.env
.envrc

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Build / Distribution
build/
dist/
*.egg-info/
.eggs/
*.egg

# Coverage
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/
